.propertyList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.propertyListItem{
    cursor: pointer;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.propertyListItem:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.propertyListImg{
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.propertyListInfo>h1{
    font-size: 18px;
    text-transform: capitalize;
}

.propertyListInfo>h2{
    font-size: 14px;
    font-weight: 400;
}